/* !General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 60%;
  margin: auto;
  display: flow-root;
  padding-inline: 15px;
}
/* !NavBar */
.navBar {
  position: fixed; 
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding-block: 15px;
  display: flow-root;
  background-color: #fefeff; 
}
.navLogo {
  width: 20%;
  float: left;
  padding-block: 10px;
}
.navPages {
  width: 50%;
  float: left;
  padding-block: 15px;
}
.navPages li {
  list-style: none;
  float: left;
  padding-inline: 20px;
}
.navPages a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 550;
  line-height: 25.005px;
  color: rgb(34, 34, 34);
}
.navPages li:first-of-type a {
  color: #384aeb;
}
.navPages a:hover {
  color: #384aeb;
}
.navButtons {
  width: 30%;
  float: left;
  padding-left: 50px;
}
.navButtons button {
  cursor: pointer;
}
.navButtons button:nth-child(-n + 2) {
  border: none;
  background-color: transparent;
  margin-inline: 4px;
}
.navButtons button i {
  font-size: 16px;
  color: rgb(34, 34, 34);
}
.navButtons button:nth-last-of-type(2) {
  position: relative;
}
.navButtons button:nth-last-of-type(2) p {
  position: absolute;
  bottom: 75%;
  left: 15px;
  padding: 1px 5px;
  font-size: 9px;
  font-weight: 400;
  line-height: 15.003px;
  color: rgb(255, 255, 255);
  border: 3px solid #384aeb;
  border-radius: 50%;
  background-color: #384aeb;
}
.navButtons button:last-of-type {
  margin-left: 20px;
  border-radius: 30px;
  border: 1px solid #eeeeee;
  background-color: transparent;
  padding: 10px 45px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 25.005px;
  color: rgb(34, 34, 34);
  transition: all 0.5s;
}
.navButtons button:last-of-type:hover {
  border-color: #384aeb;
}

/* !Home */
.home {
  margin-top: 70px; /**Temp Before Learn Js*/ 
  background-color: #f0f6f6;
  position: relative;
}
.home::before {
  content: "";
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #384aeb;
}
.home .container {
  padding-block: 30px;
  position: relative;
  z-index: 2;
}
.homeConentContainer {
  transform: translateY(35px);
  padding-block: 50px;
}
.homeImage {
  float: left;
  width: 40%;
}
.homeImage img {
  width: 100%;
}
.homeContent {
  float: left;
  width: 60%;
  position: relative;
  top: 100px;
}
.innerContent {
  margin-inline: 50px;
  font-family: Roboto, sans-serifك;
}
.innerContent * {
  padding: 10px;
}
.homeContent h4 {
  font-size: 30px;
  font-weight: 900;
  line-height: 39px;
  color: rgb(85, 85, 85);
}
.homeContent h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  color: rgb(34, 34, 34);
}
.homeContent p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  margin-bottom: 40px;
  color: rgb(119, 119, 119);
}
.homeContent button {
  text-decoration: none;
  border: solid 1px #384aeb;
  border-radius: 30px;
  padding: 12px 40px;
  margin: 10px;
  background-color: #384aeb;
  color: #fff;
  transition: all 0.5s;
}
.homeContent button a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  transition: all 0.5s;
}

.homeContent button:hover {
  background-color: transparent;
}
.homeContent button:hover a {
  color: rgb(34, 34, 34);
}
/* !Accessories  */
.accessories {
  display: flow-root;
}
.cardItem {
  width: 33.333%;
  float: left;
}
.cardInner {
  margin: 15px 10px 15px 0;
  position: relative;
}
.cardInner img {
  width: 100%;
}
.cardInner .innerLayer {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s;
}
.cardInner .innerLayer .contentLayer {
  position: absolute;
  top: 90%;
  left: 0;
  opacity: 0;
  padding: 20px 50px 20px 5px;
  background-color: #384aeb;
  transition: all 0.6s;
}
/* ?Hovering */
.cardInner:hover .innerLayer {
  top: 0%;
  opacity: 1;
}
.cardInner:hover .innerLayer .contentLayer {
  top: 72%;
  opacity: 1;
}
.cardInner .innerLayer .contentLayer * {
  padding: 5px 50px 5px 5px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(255, 255, 255);
}
/* !Popular -> Trending and best seller and last news head line-> as (General) */
.trendingItems {
  margin-block: 50px;
}
.popularHeader {
  margin-block: 35px;
  position: relative;
}
.popularHeader::after {
  content: "";
  position: absolute;
  width: 95px;
  height: 2px;
  top: 120%;
  left: 10%;
  background-color: #384aeb;
}
.popularHeader h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  color: rgb(119, 119, 119);
}
.popularHeader h2 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 39.6px;
  color: rgb(34, 34, 34);
}
/***/
.popularCards {
  width: 25%;
  float: left;
}
.popularCards .innerCard {
  margin: 30px 25px 20px 0;
}
.popularCards .innerCard .innerImage {
  position: relative;
  overflow: hidden;
}
.innerCard .innerImage img {
  width: 100%;
}
.innerCard .innerImage .cardLayer {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.4);
}
.innerCard .innerImage .cardLayer .layerIcons {
  text-align: center;
  transform: translateY(25px);
}
.innerCard .cardLayer .layerIcons i {
  background-color: #8894ff;
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
/* ?Hovering */
.innerCard:hover .cardLayer {
  top: 62%;
  opacity: 1;
}
.innerCard .cardLayer .layerIcons i:hover {
  background-color: #384aeb;
}
/* ?Content */
.cardContent {
  padding-block: 15px;
  text-align: center;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: rgb(119, 119, 119);
}
.cardContent p {
  font-size: 15px;
  line-height: 25.5px;
}
.cardContent h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: rgb(34, 34, 34);
  transition: all 0.5s;
  cursor: pointer;
}
.cardContent h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
}
.innerCard:hover .cardContent h3 {
  color: rgb(56, 74, 235);
}
/* !Ads */
.ads {
  background-image: url(../imgs/parallax-bg.png);
  background-position: center center;
  background-size: cover;
  height: 500px;
  margin-block: 40px;
}
.ads .container {
  height: 500px;
}
.adContent {
  width: 50%;
  float: left;
  text-align: center;
  transform: translateY(100px);
}
.adContent * {
  padding: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: rgb(34, 34, 34);
}
.adContent h1 {
  font-size: 50px;
  line-height: 55px;
}
.adContent h4 {
  font-size: 30px;
  line-height: 39px;
}
.adContent p {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 25.05px;
  color: rgb(85, 85, 85);
}
.adContent button {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 25.05px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 12px 50px;
  background-color: #384aeb;
  border: 1px solid #384aeb;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.5s;
}
.adContent button:hover {
  background-color: transparent;
  color: rgb(34, 34, 34);
}
/* !Best Sellers*/
.bestSellers {
  margin-block: 50px;
}
.bestSellers .popularHeader::after {
  left: 5.5%;
  width: 80px;
}
/* !Last News */
.latestNews {
  margin-block: 50px;
}
.latestNews .popularHeader::after {
  left: 7.5%;
  width: 65px;
}
.latestNews .cardNews {
  width: 33.33%;
  float: left;
}
.latestNews .cardNews img {
  width: 100%;
}
.latestNews .cardNews .innerNews {
  margin: 15px 30px 15px 0;
}
.latestNews .cardNews .innerNews .newsContent {
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 25.005px;
}
.latestNews .cardNews .innerNews .newsContent a {
  text-decoration: none;
  padding: 10px 30px 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.338px;
  color: rgb(153, 153, 153);
}
.latestNews .cardNews .innerNews .newsContent h5 {
  font-family: Oswald, sans-serif;
  padding-block: 15px;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  color: #222;
  cursor: pointer;
}
.latestNews .cardNews .innerNews .newsContent p {
  padding-block: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.05px;
  color: rgb(119, 119, 119);
}
.latestNews .cardNews .innerNews .newsContent a:last-of-type {
  padding-block: 15px;
  font-size: 15px;
  font-weight: 900;
  line-height: 25.05px;
  color: #222;
}
.latestNews .cardNews .innerNews .newsContent a:last-of-type i {
  padding-inline: 4px;
  font-weight: 600;
  transition: all 0.5s;
}
.latestNews .cardNews .innerNews:hover .newsContent h5,
.latestNews .cardNews .innerNews:hover .newsContent a:last-of-type {
  color: #384aeb;
}
.latestNews .cardNews .innerNews:hover .newsContent a:last-of-type i {
  padding-inline: 10px;
}
/* !Subscribe */
.subscribe {
  margin-block: 50px;
  transform: translateY(150px);
}
.innerContainer {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(56, 74, 235, 0.4);
}
.innerContainer .subscribeHead {
  margin-top: 10px;
  padding: 20px 10px 10px 10px;
}
.innerContainer .subscribeHead h3 {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 39.6px;
  color: rgb(34, 34, 34);
  padding: 10px;
}
.innerContainer .subscribeHead p {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  color: rgb(119, 119, 119);
  padding: 10px;
}
.innerContainer .inputs {
  margin-bottom: 50px;
}
.innerContainer .inputs * {
  border: solid 1px #eeeeee;
  border-radius: 30px;
  padding: 10px 15px;
  font-family: Roboto, sans-serif;
}
.innerContainer .inputs input {
  padding: 10px 50px 10px 12px;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(73, 80, 87);
}
.innerContainer .inputs input:focus {
  outline: none;
}
.innerContainer .inputs button {
  padding: 12px 35px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  line-height: 25.005px;
  color: #fefffe;
  background-color: #384aeb;
  transition: all 0.5s;
}
.innerContainer .inputs button:hover {
  background-color: transparent;
  color: rgb(34, 34, 34);
  border-color: #384aeb;
}
/* !Information Footer*/
.infoFooter {
  background-color: #002347;
  display: flow-root;
}
.infoFooter .container {
  margin-block: 50px;
}
.infoFooter .infoCard {
  width: 25%;
  float: left;
  color: #fefffe;
  text-align: left;
  margin-block: 50px;
  transform: translateY(50px);
}
.infoFooter .infoCard .innerInfoCard {
  margin: 25px;
}
.innerInfoCard *:not(i) {
  padding-block: 10px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.005px;
  color: rgb(123, 131, 138);
}
.innerInfoCard h2 {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.innerInfoCard h4 {
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: rgb(255, 255, 255);
}
.innerInfoCard li {
  list-style: none;
}
.links {
  padding-left: 50px;
}
.links a {
  text-decoration: none;
}
.links a:hover {
  color: #384aeb;
}
.innerInfoCard h5 {
  color: #fff;
}
.gallery ul {
  padding-right: 50px;
}
.gallery li {
  width: 50%;
  float: left;
  padding: 5px;
}
.gallery li img {
  width: 90%;
}
.contact i {
  border: 1px solid #384aeb;
  border-radius: 50%;
  padding: 8px;
  margin-right: 5px;
  background-color: #384aeb;
}
.contact p {
  padding: 2px;
}
.contact li {
  padding: 3px;
}
/* !Footer */
.footer {
  padding: 30px;
  text-align: center;
  background-color: #002347fa;
}
.footer p {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25.005px;
  color: rgb(255, 255, 255);
}
.footer a {
  text-decoration: none;
  color: #384aeb;
}
